@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1300px;
  height: 100%;
  flex-wrap: wrap;
display: flex;
margin-left: 25px;

}

 .bbb {
width: 155px;
height: 155px;
display: flex;
 flex-grow: 1;
background: black;
border: 5px solid white;

transition: all 1s;

animation-name: animName;
animation-duration: 4s;
animation-iteration-count: 1;
}


.bbb:hover {
  background: green;
  transition: all 0,5s;
}

.bbb:active {
  transform:rotate(180deg  ) scale(0.5);
  background: red;
  transition: all 1s;
}

@keyframes animName {
  from {
    background: black;
  }
1% {
  border-radius: 200px;
}
20% {
  background: orange;
}

50% {
  background: yellow;
}
80% {
  background: green;
}
  to {
background: black;
  }
}
