body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainContainer {

    justify-content: space-around;
    display: flex;
    margin-inline: auto;
    height: 100%;
    flex-wrap: nowrap;


}


.musicBtn {

    margin-right: 60px;
    margin-top: 28%;
    height: 75px;
    width: 75px;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: center;
    border: 3px solid black;
}


.activeBtn {

    border: 3px solid rgb(77, 9, 225);


}