body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
background-image: url('img/background.jpg');
background-size: cover;
}

.mainContainer{

    width: 80%;
    align-items: center ;
  justify-content: space-around;
  display: flex;
  margin-inline: auto ;
  margin-top: 30% ;



}

.mainButton1{

    height: 75px;
    width: 75px;
    padding: 20px;
    display:flex;
    background-image: url('img/em.jfif')  ;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
background-position: center;
}

.mainButton2{

    height: 75px;
    width: 75px;
    padding: 20px;
    display:flex;
    background-image: url('img/il_fullxfull.2879215200_irrs.webp')  ;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.mainButton3{

    height: 75px;
    width: 75px;
    padding: 20px;
    display:flex;
    background-image: url('img/gg.jpg')  ;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;

}

.mainButton4{

    height: 75px;
    width: 75px;
    padding: 20px;
    display:flex;
    background-image: url('img/dr-dre-1290596323-hero-promo-0.jpg')  ;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
}
